<launch>
    <!-- Node for ORB_SLAM3 -->
    <node name="ORB_SLAM3_Mono" pkg="orb_slam3_ros_wrapper" type="orb_slam3_ros_wrapper_mono" output="screen">
        <param name="voc_file" type="string" value="$(find orb_slam3_ros_wrapper)/config/ORBvoc.txt" />
        <param name="settings_file" type="string" value="$(find orb_slam3_ros_wrapper)/config/my_config.yaml" />
        <remap from="/camera/image_raw" to="/usb_cam/image_raw"/>
    </node>

    <!-- Görüntüleri sıkıştırma ve /visual_slam/compressed konusuna yayınlama -->
    <node name="image_compress" pkg="image_transport" type="republish" args="raw in:=/usb_cam/image_raw compressed out:=/Visual_Slam" output="screen" />
</launch>
