/* Arka plan resmi */
body {
  background-image: url('./gokmenwp.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-container {
  display: flex;
  align-items: center;
  height: 100vh;
}

/* Logo container styling */
.logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: auto;
  height: 300px;
  max-width: 300px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  margin-left: 120px;
  margin-right: 400px;
}

.login-form {
  width: 340px; /* Formun sabit genişliği */
  margin: auto; /* Formu yatay eksende ortalar */
  padding: 20px; /* Dış boşluk */
  background-color: rgba(255, 255, 255, 0.0); /* Arka plan rengi ve şeffaflık */
  border-radius: 10px; /* Dış kenar yuvarlaklığı */
  text-align: left; /* Metni sola hizalar */
}

.login-form label {
  display: block;
  margin-bottom: 10px; 
}

.login-form input[type="email"],
.login-form input[type="password"] {
  box-sizing: border-box; /* padding ve border genişliği içerir */
  width: 300px; /* Input alanlarının sabit genişliği */
  padding: 10px; /* İç boşluk */
  margin-bottom: 10px; /* Alt alan aralığı */
  border: 1px solid #ccc; /* Kenarlık */
  border-radius: 5px; /* Kenar yuvarlaklığı */
}

.login-form button {
  width: 300px; /* Butonun sabit genişliği */
  padding: 10px; /* İç boşluk */
  background-color: #007bff; /* Arka plan rengi */
  color: #fff; /* Yazı rengi */
  border: none; /* Kenarlık yok */
  border-radius: 15px; /* Kenar yuvarlaklığı */
  cursor: pointer; /* İmleç */
}

.signup-link {
  margin-top: 10px;
}

.signup-link a {
  color: #007bff;
  text-decoration: none;
}

.signup-container {
  display: flex;
  align-items: center;
  height: 100vh;
}

.signup-form {
  width: 340px; /* Formun sabit genişliği */
  margin: auto; /* Formu yatay eksende ortalar */
  padding: 20px; /* Dış boşluk */
  background-color: rgba(255, 255, 255, 0.0); /* Arka plan rengi ve şeffaflık */
  border-radius: 10px; /* Dış kenar yuvarlaklığı */
  text-align: left; /* Metni sola hizalar */
}

.signup-form label {
  display: block;
  margin-bottom: 10px;
}

.signup-form input[type="email"],
.signup-form input[type="password"] {
  box-sizing: border-box; 
  width: 300px; /* Input alanlarının sabit genişliği */
  padding: 10px; /* İç boşluk */
  margin-bottom: 10px; /* Alt alan aralığı */
  border: 1px solid #ccc; /* Kenarlık */
  border-radius: 5px; 
}

.signup-form button {
  width: 300px; 
  padding: 10px; 
  background-color: #007bff; 
  color: #fff; 
  border: none; 
  border-radius: 15px; 
  cursor: pointer;
}

.login-link {
  margin-top: 10px;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


